#!/usr/bin/make -f

## BEGIN_MAKE_VARS
__isa_bits           := 64
__isa_name           := x86
__sourcedir          := 
_bindir              := /usr/bin
_datadir             := /usr/share
_defaultdocdir       := /usr/share/doc
_docdir              := /usr/share/doc
_exec_prefix         := /usr
_includedir          := /usr/include
_infodir             := /usr/share/info
_isa                 := 
_lib                 := lib64
_libdir              := /usr/lib64
_libexecdir          := /usr/libexec
_localstatedir       := /var/cpanel
_mandir              := /usr/share/man
_prefix              := /usr
_root_bindir         := /usr/bin
_root_datadir        := /usr/share
_root_exec_prefix    := /usr
_root_includedir     := /usr/include
_root_infodir        := /usr/share/info
_root_initddir       := /etc/rc.d/init.d
_root_libdir         := /usr/lib64
_root_libexecdir     := /usr/libexec
_root_localstatedir  := /var/cpanel
_root_mandir         := /usr/share/man
_root_prefix         := /usr
_root_sbindir        := /usr/sbin
_root_sharedstatedir := /usr/com
_root_sysconfdir     := /etc
_sbindir             := /usr/sbin
_scl_prefix          := /opt/cpanel
_scl_root            := 
_sysconfdir          := /etc
buildroot            := /usr/src/packages/BUILD
contentdir           := /usr/share/apache2
cpanel_version       := 2.4.46.6
docroot              := /var/www
ea_openssl_ver       := 1.1.1d-1
ix86                 := i386
mmn                  := 20120211
mmnisa               := 20120211x8664
name                 := ea-apache24
ns_name              := ea
oldmmnisa            := 20120211-x86-64
pkg                  := 
pkg_name             := 
pkgname              := 
release              := 6
release_prefix       := 6
scl                  := 
scl_prefix           := 
sslcert              := /etc/pki/tls/certs/localhost.crt
sslkey               := /etc/pki/tls/private/localhost.key
suexec_caller        := nobody
version              := 2.4.46
vstring              := cPanel
with_http2           :=   0
DEB_INSTALL_ROOT     := /usr/src/packages/BUILD/debian/tmp
DEB_SOURCE_ROOT      := /usr/src/packages/BUILD/debian/SOURCES_FROM_SPEC
SOURCE1              := $(DEB_SOURCE_ROOT)/centos-noindex.tar.gz
SOURCE3              := $(DEB_SOURCE_ROOT)/httpd.sysconf
SOURCE5              := $(DEB_SOURCE_ROOT)/apache2.tmpfiles
SOURCE6              := $(DEB_SOURCE_ROOT)/httpd.init
SOURCE10             := $(DEB_SOURCE_ROOT)/httpd.conf
SOURCE11             := $(DEB_SOURCE_ROOT)/autoindex.conf
SOURCE22             := $(DEB_SOURCE_ROOT)/cgid.conf
SOURCE23             := $(DEB_SOURCE_ROOT)/manual.conf
SOURCE30             := $(DEB_SOURCE_ROOT)/README.confd
SOURCE40             := $(DEB_SOURCE_ROOT)/htcacheclean.init
SOURCE41             := $(DEB_SOURCE_ROOT)/htcacheclean.sysconf
SOURCE42             := $(DEB_SOURCE_ROOT)/httpd.service
SOURCE43             := $(DEB_SOURCE_ROOT)/cperror.conf
SOURCE44             := $(DEB_SOURCE_ROOT)/brotli.conf
SOURCE45             := $(DEB_SOURCE_ROOT)/htcacheclean.service
SOURCE53             := $(DEB_SOURCE_ROOT)/http2.conf
## END_MAKE_VARS

__perl               := /usr/bin/perl
ea_apr_dir           := /opt/cpanel/ea-apr16
ea_apu_dir           := /opt/cpanel/ea-apr16
ea_apr_name          := ea-apr16

%:
	echo "EXECING $@"
	dh $@

override_dh_auto_configure:
	echo "SETCAP START"
	ls -ld /usr/sbin/setcap
	echo "SETCAP END"
	# Force dependency resolution to pick /usr/bin/perl instead of /bin/perl
	# This helps downstream users of our RPMS (see: EA-7468)
	export PATH="/usr/bin:$(PATH)"
	# forcibly prevent use of bundled apr, apr-util, pcre
	rm -rf srclib/{apr,apr-util,pcre}
	# regenerate configure scripts
	autoheader && autoconf || exit 1
	# Before configure; fix location of build dir in generated apxs
	$(__perl) -pi -e "s:\@exp_installbuilddir\@:$(_libdir)/apache2/build:g" support/apxs.in
	export CFLAGS="$(RPM_OPT_FLAGS)"
	export LDFLAGS="-Wl,-z,relro,-z,now"
	# Hard-code path to links to avoid unnecessary builddep
	export LYNX_PATH=/usr/bin/links
	# Build the daemon
	./configure \
	    --prefix=$(_sysconfdir)/apache2 \
	    --exec-prefix=$(_prefix) \
	    --bindir=$(_bindir) \
	    --sbindir=$(_sbindir) \
	    --mandir=$(_mandir) \
	    --libdir=$(_libdir) \
	    --sysconfdir=$(_sysconfdir)/apache2/conf \
	    --includedir=$(_includedir)/apache2 \
	    --libexecdir=$(_libdir)/apache2/modules \
	    --datadir=$(contentdir) \
	    --enable-layout=cPanel \
	    --with-installbuilddir=$(_libdir)/apache2/build \
	    --enable-mpms-shared=all \
	    --with-apr=$(ea_apr_dir) --with-apr-util=$(ea_apu_dir) \
	    --enable-suexec --with-suexec \
	    --enable-suexec-capabilities \
	    --with-suexec-caller=$(suexec_caller) \
	    --with-suexec-docroot=/ \
	    --with-suexec-logfile=$(_sysconfdir)/apache2/logs/suexec_log \
	    --with-suexec-bin=$(_sbindir)/suexec \
	    --with-suexec-uidmin=100 --with-suexec-gidmin=100 \
	    --enable-pie \
	    --with-pcre \
	    --enable-mods-shared=all \
	    --enable-systemd \
	    --enable-ssl --with-ssl \
	    --enable-ssl-staticlib-deps \
	    --with-nghttp2=/opt/cpanel/nghttp2/ \
	    --enable-nghttp2-staticlib-deps \
	    --disable-distcache \
	    --enable-proxy \
	    --enable-proxy-fdpass \
	    --enable-cache \
	    --enable-disk-cache \
	    --enable-ldap \
	    --enable-authnz-ldap \
	    --enable-cgid --enable-cgi \
	    --enable-authn-anon \
	    --enable-authn-alias \
	    --enable-imagemap \
	    --disable-echo \
	    --with-libxml2 \
	    --disable-v4-mapped \
	    --enable-brotli \
	    --with-brotli \
	     $*
	cat support/Makefile >> support/Makefile.tmp
	cp -f support/Makefile.tmp support/Makefile
	# PROGRAM_LDADD will satisfy almost all of them
	sed -i '/^.*PROGRAM_LDADD[ \t]*=.*$$/ s/$$/ $(SYS_OPENSSL)/' support/Makefile
	# ab, does it's own thing so I need to do our thing
	sed -i '/^.*$(LT_LDFLAGS) $(ALL_LDFLAGS) -o $@ $(ab_LTFLAGS) $(ab_OBJECTS) $(ab_LDADD).*$$/ s/$$/ $(SYS_OPENSSL)/' support/Makefile
	make 

override_dh_auto_install:
	mkdir -p $(DEB_INSTALL_ROOT)
	make DESTDIR=$(DEB_INSTALL_ROOT) install
	# install the forensic script
	install -m 755 support/check_forensic $(DEB_INSTALL_ROOT)$(_sbindir)
	# # install systemd service file for CentOS 7 and up
	mkdir -p $(DEB_INSTALL_ROOT)$(_unitdir)
	for s in httpd.service htcacheclean.service; do
	  install -p -m 644 $(RPM_SOURCE_DIR)/${s} \
	                    $(DEB_INSTALL_ROOT)$(_unitdir)/${s}
	done
	# install conf file/directory
	mkdir $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf.d \
	      $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf.modules.d \
	      $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf.d/includes \
	      $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/bin
	install -m 644 $(RPM_SOURCE_DIR)/README.confd \
	    $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf.d/README
	for f in brotli.conf cgid.conf manual.conf cperror.conf autoindex.conf ; do
	  install -m 644 -p $(RPM_SOURCE_DIR)/${f} \
	        $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf.d/${f}
	done
	install -m 644 -p $(RPM_SOURCE_DIR)/http2.conf $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf.d/http2.conf
	# Extra config trimmed:
	rm -v docs/conf/extra/httpd-{ssl,userdir}.conf
	rm $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf/*.conf
	install -m 644 -p $(RPM_SOURCE_DIR)/httpd.conf \
	   $(DEB_INSTALL_ROOT)$(_sysconfdir)/apache2/conf/httpd.conf
	mkdir $(DEB_INSTALL_ROOT)$(_sysconfdir)/sysconfig
	for s in httpd htcacheclean; do
	  install -m 644 -p $(RPM_SOURCE_DIR)/${s}.sysconf \
	                    $(DEB_INSTALL_ROOT)$(_sysconfdir)/sysconfig/${s}
	done
	# # tmpfiles.d configuration
	mkdir -p $(DEB_INSTALL_ROOT)$(_prefix)/lib/tmpfiles.d
	install -m 644 -p $(RPM_SOURCE_DIR)/apache2.tmpfiles \
	   $(DEB_INSTALL_ROOT)$(_prefix)/lib/tmpfiles.d/apache2.conf
	# Other directories
	mkdir -p $(DEB_INSTALL_ROOT)$(_localstatedir)/lib/dav \
	         $(DEB_INSTALL_ROOT)$(_localstatedir)/run/apache2/htcacheclean
	# Create cache directory
	mkdir -p $(DEB_INSTALL_ROOT)$(_localstatedir)/cache/apache2 \
	         $(DEB_INSTALL_ROOT)$(_localstatedir)/cache/apache2/proxy \
	         $(DEB_INSTALL_ROOT)$(_localstatedir)/cache/apache2/ssl
	# Make the MMN accessible to module packages
	echo $(mmnisa) > $(DEB_INSTALL_ROOT)$(_includedir)/apache2/.mmn
	mkdir -p $(DEB_INSTALL_ROOT)$(_sysconfdir)/rpm
	cat > $(DEB_INSTALL_ROOT)$(_sysconfdir)/rpm/macros.apache2 <<EOF

override_dh_auto_test:
	echo "Ignoring Tests"
	/bin/true
