[Unit]
Description=Apache web server managed by cPanel EasyApache
ConditionPathExists=!/etc/httpddisable
ConditionPathExists=!/etc/apachedisable
ConditionPathExists=!/etc/httpdisable
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/httpd -DFOREGROUND
ExecReload=/usr/sbin/httpd -k graceful
PIDFile=/run/apache2/httpd.pid
TimeoutStartSec=5m
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
